<html>
    <head>
        <script language="javascript">
            function call_copilot(target_prompt){
                    
                    const apiUrl = '/call_copilot';

                    var target_btn = target_prompt+"_btn";
        
                    document.getElementById(target_prompt).disabled = true;
                    document.getElementById(target_btn).disabled = true;
                    fetch(apiUrl,{
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify({
                                        prompt: document.getElementById(target_prompt).value,
                                        event_id: "{{latest_event}}"
                                    })
                                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        //document.getElementById("llm_response").innerHTML = JSON.stringify(data)
        
                        var combined_prompt = document.getElementById(target_prompt).value.trim();
                        combined_prompt = combined_prompt + '\n\n'+JSON.stringify(data)+'\n\n';
                        console.log(combined_prompt);
        
                        document.getElementById(target_prompt).value = combined_prompt;
        
                        // document.getElementById("say_it").src = 'motions/latest.wav?t=' + new Date().getTime();
                        // document.getElementById("say_it").play();
                        document.getElementById(target_btn).disabled = false;
                        document.getElementById(target_prompt).disabled = false;
        
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        //document.getElementById("llm_response").innerHTML = '<b>Error: '+error+'</b>'
                    });
                }

            function filter_images(){
                call_copilot("image_filter_prompt");
            }

            function analyze_target(){
                call_copilot("event_analysis_prompt");
            }
        </script>
    </head>
    <body>
        <center><h1>{{latest_event}}</h1></center>
        <table border=1 width='100%'>
            <tr>
                <td colspan="10">
                    <div style="width: 100%">
                        <input type="button" style="color: green; float:left; height:50px;width:200px" value="Open Gate" 
                                        onclick="new Image().src='/gate?state=open'"/>
                        <input type="button" style="color: red; float:right; height:50px;width:200px" value="Close Gate"
                                        onclick="new Image().src='/gate?state=close'"/>
                        <input type="button" style="color: black; float:right; height:50px;width:200px" value="Simulate this Event"
                                        onclick="new Image().src='/simulate?id={{latest_event}}'"/>
                    </div>

                </td>
            </tr>
            <tr>
                <tr>
                    <th>System Prompt</th>
                    <th>Images</th>
                    <th>Results</th>
                </tr>
            </tr>
            <tr>
                <td width="20%">
                    <textarea cols='70' rows='15' id='image_filter_prompt'>{{image_filter_prompt}}</textarea>
                    <input type='button' id="image_filter_prompt_btn" value='Submit' style='height:50px;width:200px' onclick='filter_images()'/>
                    <br/>
                    <textarea cols='70' rows='15' id='event_analysis_prompt'>{{event_analysis_prompt}}</textarea>
                    <input type='button' id="event_analysis_prompt_btn" value='Submit' style='height:50px;width:200px' onclick='analyze_target()'/>
                </td>
                <td width="50%">
                    {{images}}
                </td>
                <td>
                    {{data_info}}
                </td>
            </tr>
        </table>
        
        <!--audio id="say_it" src="motions/latest.wav"></audio-->
    </body>
</html>