Analyze the images and determine if an animal in any of these pictures has a rodent, snake or bird.  
If an animal in any of the pictures has a rodent, snake or a bird, please respond: {"has_object" : "Yes"} 
If an animal in any of the pictures does not have a rodent, snake or a bird, please respond: {"has_object" : "No"}.
