Analyze the images and determine if the person in these pictures has anything in their mouth.  
Restrict the response to the set of the following JSON objects:
Yes: {"allowed" : "Yes"}
No: {"allowed" : "No"}
