<html>
    <body>
        <table width='100%' height='100%' border=1 align='center' valign='center' >
            <tr>
                <td colspan="10">
                    <div style="width: 100%">
                        <input type="button" style="color: green; float:left; height:50px;width:200px" value="Open Gate" 
                                        onclick="new Image().src='/gate?state=open'"/>
                        <input type="button" style="color: red; float:right; height:50px;width:200px" value="Close Gate"
                                        onclick="new Image().src='/gate?state=close'"/>
                    </div>

                </td>
            </tr>
            <tr>
                <th>
                    <h3>
                        <div id="current_time"></div>
                    </h3>
                </th>
                <th>
                    <h1>{{last_event}}</h1>
                </th>
            </tr>
            <tr>
                <td align='center' valign='center' id="current_frame_view"  >
                    <img src='motions/current_frame.png' id='current_frame' 
                                    style="border: red solid 5px; display: block; height:350px"/>
                </td>
                <td align='center' valign='center' >
                    <table>
                        <tr>
                            <td>    
                                <img src='motions/event_current.png' id='event_current' 
                                        style="border: green solid 5px; height:350px"  />
                            
                            </td>
                            <td>
                                <div style="overflow-y: scroll; height:400px;">
                                    {{event_images}}    
                                </div>
                                
                            </td>                                
                        </tr>
                    </table>                
                </td>

            </tr>
            <tr>
                <td colspan=10 width='100%'>
                    <h1>Recent Activity</h1>
                    <div style="overflow-y: scroll; height:400px;">
                        {{recent_events}}
                    </div>
                    <!-- iframe src="/last_event" width='100%' height='3000px' id='last_events'></iframe -->
                </td>
            </tr>
        </table>
        
        <script language='javascript'>
            function update_current_view(){
                var url = 'motions/current_frame.png?t=' + new Date().getTime()
                
                var test_image = new Image()
                test_image.src = url

                
                document.getElementById("current_frame").src = url
                var currentTime = new Date();
                document.getElementById("current_time").innerHTML = currentTime
                
                

            }

            setInterval(update_current_view, 3000);
            //setInterval(function () {document.getElementById("event_current").src = 'motions/event_current.png?t=' + new Date().getTime();}, 5000);
            setInterval(function () {document.getElementById("event_current").src = 'motions/event_current.png'}, 1000);
            //setInterval(function () {document.getElementById("last_events").contentWindow.location.reload()}, 5000);
        </script>
    </body>
</html>