<html>
    <body>
        <center><h3>Latest Info:</h3></center>
        <div>
            {{latest_info}}
        </div>
        <center><h3>Last Event: {{directory}}</h3></center>
        
        <table border=1 width='100%' >
            <tr>
                <td align='center' valign='center' width='75%'>
                    {{images}}
                </td>
                <td>
                    {{file_names}}
                </td>
            </tr>
        </table>    
    </body>
</html>